


*{
  padding: 0px;
  margin: 0px;
}

.cabecera{
background: red;
    &__search{
      position: absolute;
      right: 16px;
      padding: 5px;
      z-index: 99;
    }

    &__micro{
      position: absolute;
      right: 0px;
      z-index: 99;
      padding: 5px;
    }

  &__titulo{
    margin-right: auto;
  }

  &__item{
    padding: 0px 5px;
  }

  &__input{
    width: 100%;
    border:1px gray solid;
    padding: 3px 10px;

  }




}

.aviso-covid{
background:red;

  &__cerrar{
    min-width: 57px;
  }
}

.container{
  margin: auto;
  max-width: 1200px;
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
  position: relative;


    &__input{
      width: 100%;
      text-align: center;
      position: relative;
      background: yellow;
      display: flex;
      align-items: center;
    }
}

.datos-cabecera{
  background: blue;
}



.carrusel{
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  overflow: hidden;
  transition: 1s !important;



  &__flechas{
    position: absolute;
bottom: 0px;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 999;
  }
  &__producto{
   min-width: 150px;
    padding: 15px;
    height: 100px;
    background: red;
    margin: 10px;
  }
}

.slider{
  overflow: hidden;
  position: relative;
  padding: 15px 0px;
}


ul{
  display: flex;

}

ul li{
  padding: 15px;
}

.bloque2{
  display: none;
}


.producto{

  &__item{
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
  &__fig{
  max-width: 100px;
  }

  &__imagen{
    width: 100%;
  }

 &__pre-price{
   font-size: 8px;
 }

  &_price{
    font-size: 15px;
  }


}
.bombillas-slider{
  display: grid;
  max-width: 500px;
  margin: auto;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 5px;
  background: white;

    &__img{
      width: 85%;
      margin-left: 7px;
      padding-top: 10px;
    }
  &__precio{
    text-align: center;
  }
  &__envio{
    grid-column: 2/3;
    grid-row:2/3;
    color:green;

  }

    &__titulo{
      padding: 10px 0px;

    }
  &__certificado{
    grid-column: 3/4;
    grid-row:2/3;
  }

  &__details{
    grid-column: 2/4;
    grid-row:3/4;
    padding: 10px 0px;
    text-align: center;

  }

  &__numero{
    display: flex;
    background: #f2f2f6;
    width: 100%;
    text-align: center;
    justify-content: space-around;

    margin-right: 5px;
  }
  &__comprar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  &__carrito{ display: flex;
    background: #4deb96;
    width: 100%;
    padding: 5px;
    justify-content: center;
    cursor: pointer;

  }

  &__añadir{
    padding: 15px 0px;
    margin-top: 5px;
    background: #f2f2f6;
    cursor: pointer;
  }
}

.slider-bombillas{
  background: gray;
  padding: 15px 0px;
}
.slider-details__title{
  padding: 15px 0px;
margin-bottom: 5px;
  background: #f2f2f6;
}
.slider-numero__cantidad{
  text-align: center;
  width: 37px;
  background: #f2f2f6;
  border: none;
}

.slider-numero__resta , .slider-numero__suma{
  cursor: pointer;
  padding: 5px;
}


.margin-slider-bombilla{
  margin-right: 7px;
}


.item1 , .item2, .item3, .item4{
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.item2, .item3, .item4{
  display: none;
}

.formulario{
  height: 250px;
  position: relative;
  display: flex;
}

.enviartodo{
  display: none;
}

@media (max-width: 500px){
  .producto {

    &__item {
      flex-direction: row;
    }

  }
}